<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024, Alibaba Cloud;
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
    <property name="APPENDER_REF" value="${logging.appenderRef}"/>
    <property name="LOG_FILE" value="${logging.file}"/>
    <property name="FILE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} %X{EAGLEEYE_TRACE_ID} %X{EAGLEEYE_RPC_ID} [%thread] %highlight(%-5level) %-40.40logger{39} %M:%L - %msg%n"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%red(%date{yyyy-MM-dd HH:mm:ss.SSS}) %X{EAGLEEYE_TRACE_ID} %X{EAGLEEYE_RPC_ID} %green([%thread]) %highlight(%-5level) %boldGreen(%-40.40logger{39} %M:%L) - %msg%n}"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="metrics" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/metrics.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/metrics.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- only one day -->
            <maxHistory>5</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="summary" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/summary.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/summary.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- only one day -->
            <maxHistory>5</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="metrics.log" level="INFO" additivity="false">
        <appender-ref ref="metrics"/>
    </logger>

    <logger name="summary.log" level="INFO" additivity="false">
        <appender-ref ref="summary"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="${APPENDER_REF}"/>
    </root>
</configuration>