            - name: DeepSource Test Coverage Action
  # You may pin to the exact commit or the version.
  # uses: DeepSourceCorp/test-coverage-action@e02a039827236fa21a95866e7cd0b1c52ca61e76
  uses: DeepSourceCorp/test-coverage-action@v1.1.2
  with:
    # Programming language shortcode for which coverage is reported. Allowed values are — python, go, javascript, ruby, java, kotlin, scala, php, csharp, cxx, rust, swift
    key: 
    # Path to the coverage data file. e.g. ./coverage.xml
    coverage-file: 
    # DeepSource DSN of this repository. It is available under Settings → Reporting tab of the repository page on DeepSource.
    dsn: 
    # Should the CI build fail if there is an error while uploading the report to DeepSource? Allowed values are — true, false
    fail-ci-on-error: # optional
    # HEAD commit for which the Test Coverage report is being sent
    commit-sha: # optional, default is ${{ github.event.pull_request.head.sha }}
          
